[user]
	name = Thomas Foster
	email = thomasvfoster@gmail.com
[core]
	editor = vim
[alias]
	co = checkout
	cam = commit -am
	s = status
	dog = log --decorate --oneline --graph --all
	d = diff
	review = difftool --dir-diff
	recent-branches = for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/
	rb = recent-branches
[diff]
	tool = meld
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[merge]
	conflictstyle = diff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
